venv/
.venv/
__pycache__/
*.pyc

dist/
build/
*.spec
/temp_index.html

tools/*
!tools/build_web.py
!tools/web.tmpl
!tools/templates/
!tools/templates/index.html
!tools/landing/
!tools/landing/index.html